<% @themes.each do |theme| %>
  <h2>
    <%= link_to theme.title, theme_path(theme) %>
    <% if logged_in? && current_user.admin? %>
      | <%= link_to "delete", theme, method: :delete,
                  data: { confirm: "You sure?" } %>
    <% end %>
  </h2>
<% end %>

<% if logged_in? %>
  <%= link_to '問題作成', new_theme_path, class: "btn btn-primary" %>
<% end %>

<hr>

<table class="table table-hover">
  <thead>
    <tr>
      <th>順位</th>
      <th>名前</th>
      <th>ポイント</th>
    </tr>
  </thead>
  <tbody>
    <% @points.each_with_index do |point, i| %>
      <tr>
        <td>第<%= i + 1 %>位</td>
        <td><%= point[0] %></td>
        <td><%= point[1] %>pt</td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr>
<%= render 'themes/changes' %>
