<h1><%= @theme.title %></h1>

<% unless @theme.body.nil? %>
  <%= simple_format @theme.body %>
<% end %>
<% if logged_in? && current_user.admin? %>
  <%= link_to '編集', edit_theme_path(@theme), class: "btn btn-warning" %>
<% end %>
<hr>

<%= link_to '提出', new_theme_code_path(@theme), class: "btn btn-lg btn-primary" %>

<hr>

<h2>ランキング</h2>
<% if @codes %>
  <ol>
    <% @codes.each_with_index do |code, i| %>
      <li>
        <%= link_to code.user.name, user_path(code.user) %>
        <% if i.zero? && hide_code_time(code) %>
          <p style="float: right"><%= "#{code.code_time.time.to_s}[ms]　/　　#{simple_time code.code_time.created_at}" %></p>
        <% else %>
          <%= link_to "#{code.code_time.time.to_s}[ms]　/　　#{simple_time code.code_time.created_at}",
                      code_path(code), style: 'float: right;' %>
        <% end %>
        <% if  logged_in? && (current_user.admin? || current_user == code.user) %>
          <%= link_to "delete", code, method: :delete,
                        data: { confirm: "You sure?" }, class: "btn btn-danger",
                      style: 'float: right; margin-right: 20px;' %>
        <% end %>
      </li>
      <hr>
    <% end %>
  </ol>
<% else %>
  <p>提出済みのコードはありません</p>
<% end %>
