<h1><%= @theme.title %></h1>

<% unless @theme.body.nil? %>
  <pre><code><%= @theme.body %></code></pre>
<% end %>
<% if logged_in? && current_user.admin? %>
  <%= link_to '編集', edit_theme_path(@theme), class: "btn btn-warning" %>
<% end %>
<hr>

<%= link_to '提出', new_theme_code_path(@theme), class: "btn btn-lg btn-primary" %>

<hr>

<h2>ランキング</h2>
<% if @codes %>
  <ol>
    <% @codes.each_with_index do |code, i| %>
      <li>
        <%= link_to code.user.name, user_path(code.user) %>
        <% if (logged_in? && (current_user.admin? || current_user == code.user)) || (!i.zero? || !hide_code_time(code)) %>
          <%= link_to "#{code.code_time.time.to_s}[ms]　/　　#{simple_time code.code_time.created_at}",
                      code_path(code), style: 'float: right;' %>
        <% else %>
          <p style="float: right">
            ランキングトップのコードは、計測時から7日間を過ぎるまで詳細確認することはできません。
            <%= "#{code.code_time.time.to_s}[ms]　/　　#{simple_time code.code_time.created_at}" %>
          </p>
        <% end %>
      </li>
      <hr>
    <% end %>
  </ol>
<% else %>
  <p>提出済みのコードはありません</p>
<% end %>
