<h1>コード提出</h1>

<%= form_with model: @code, local: true do |f| %>
  <%= inform_validation_error @code %>
  <%= f.label :content %>
  <%= f.text_area :content, class: 'form-control' %>
  <%= f.submit '提出', class: 'btn btn-primary' %>
<% end %>
