<h1>コード詳細</h1>

<div class="code"><%= @code.content %></div>
<hr>
<p>提出者: <%= @code.user.name %></p>
<hr>

<% if @code.code_time %>
  <p>タイム：　<%= @code.code_time.time.to_s %>[ms]</p><br>
  <p>出力</p>
  <hr>
  <div class="code"><%= @code.code_time.out_put %></div>
<% else %>
  <%= button_to '計測', times_path(time: {code_id: @code.id}), method: :post %>
<% end %>