<nav class="navbar navbar-expand-sm navbar-dark bg-dark mt-3 mb-3">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav4" aria-controls="navbarNav4" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <%= link_to 'Collatz Rank', root_path, class: 'navbar-brand' %>
  <div class="collapse navbar-collapse justify-content-end">
    <ul class="navbar-nav">
      <% if logged_in? %>
        <li class="nav-item active">
          <%= link_to current_user.name, user_path(id: current_user), class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'コード提出', new_code_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Logout', logout_path, method: :delete, class: "nav-link" %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to 'Login', login_path, class: "nav-link" %>
        </li>
      <% end %>
      <li class="nav-item">
        <%= link_to 'コード一覧', codes_path, class: "nav-link" %>
      </li>
    </ul>
  </div>
</nav>

<% flash.each do |name, msg| %>
  <div class="alert alert-<%= name %>">
    <%= msg.html_safe %>
  </div>
<% end %>
